<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Assignment - Stefany Bam</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #FFFFFF;">
 <div class="login">
	<h1>Risk Profile</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <p>Please enter 1 for Male and 2 for Female:</p>
    	<input type="text" name="Gender" placeholder="Gender" required="required" />
        <input type="text" name="Age" placeholder="Age" required="required" />
		<button type="submit" class="btn btn-primary btn-block btn-large">Predict the Risk Profile</button>
    </form>

   <br>
   <br>
   <p>If Risk Profile values is 0 ,it means low risk and 1 means high risk.</p>
   <br>
   {{ prediction_text }}
    

 </div>
</body>
</html>